@inherits LayoutComponentBase

<div class="min-h-screen bg-gray-50">
    <div class="p-4 bg-blue-600 text-white font-bold text-xl">Registration Summary</div>
    <div>
        <!--<NavMenu />-->
        <main class="p-6">
            @Body
        </main>
    </div>
</div>

<Toast />