@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components

@using RegistrationSummary.Blazor.Pages
@using RegistrationSummary.Blazor.Services
@using RegistrationSummary.Blazor.Shared

@inject AuthenticationService AuthService
@inject NavigationManager Navigation

<LoginGate />

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Ups! Nie znaleziono strony.</p>
        </LayoutView>
    </NotFound>
</Router>
